<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery.js"></script>
  </head>
  <body>
  <form   action="/files"enctype="multipart/form-data"  method="post" >
    <input type="file" id="choosefile" name="hycx"/>
    <input type="text" name="age">
    <input type="submit" value="上传文件" id="submitBtn" />
</form>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
