<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		li{
			list-style: none;
		}
	</style>
</head>
<body>
	<form action="/login" method="post">
		<h1>登录页面</h1>
		<ul>
		<li><label for="">用户名</label><input name="username"></li>
		<li><label for="">密码</label><input name="password"></li>
		<li><input type="submit" value="提交"></li>
		</ul>
	</form>
</body>
</html>